body {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.memberShipBtn {
    color: black !important;
    text-decoration: none !important;
}
.sayHelloBtn {
    border-radius: 15px !important;
    background-color: white !important;
    border: 2px solid black !important;
}
.sayHelloBtn:hover {
    background-color: black !important;
    color: white;
}
.profileImg {
    text-align: center;
    justify-content: center;
}
.profileImg img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}
.aboutSection {
    width: 100%;
    min-height: 70vh;
    max-height: auto;
    margin: 0px auto;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
.glass{
    margin: 100px;
    color: #ecf0f1;
    border-radius: 15px;
    padding: 20px;
    background: black;
    border: solid 3px rgba(255,255,255,.3);
    text-align: center;
    justify-content: center;
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    align-items: center;
}

.recentWorkSection{
    text-align: center;
}
.recentWork{
    display: flex;
}
.recentWork2>div{
    padding: 20px;
}
.recentWork img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
}
.seeMoreProjects{
    border: 1px solid black !important;
    border-radius: 15px !important;
    padding: 5px !important;
    margin: 50px;
}
.collaboration{
    font-weight: bold;
    font-size: 1.5rem;
}

.testimonials{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.testimonials img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}
.footer2{
    margin: auto;
    width: 80%;
    height: auto;
    background-color: black;
    color: white;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
    top: 60px;
    border-radius: 15px;
}
.footer2Align{
    text-align: center;
    display: flex;
    justify-content: center;
}
.letsDoThis{
    border: 3px solid white !important;
    background-color: blue;
    color: white;
    border-radius: 25px !important;
    padding: 10px 25px 10px 25px !important;
}
.footer{
    width: 100%;
    height: auto;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 100px;
}
.footerIcons i {
    font-size: 50px;
    width: 80px;
    margin: 20px;
    height: 80px;
    color: white;
    padding: 15px 0;
    border-radius: 40px;
    border: 1px solid white;
}
