body {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.memberShipBtn {
    color: black !important;
    text-decoration: none !important;
}
.sayHelloBtn {
    border-radius: 15px !important;
    background-color: white !important;
    border: 2px solid black !important;
}
.sayHelloBtn:hover {
    background-color: burlywood !important;
}
.profileImg {
    text-align: center;
    justify-content: center;
}
.profileImg img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}
.aboutSection {
    width: 100%;
    height: 70vh;
    margin: 0px auto;
    background-image: url("https://media.istockphoto.com/vectors/gradient-blob-abstract-background-vector-id1282505760?k=6&m=1282505760&s=612x612&w=0&h=3qdPxcMLplq-nJIFftwBbPci7L8k8EN70C-rqEB7CGM=");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}
.glass{
    margin: 100px;
    color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    border: solid 1px rgba(255,255,255,.3);
    backdrop-filter: blur(10px );
    text-align: center;
    justify-content: center;
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    align-items: center;
}

.recentWorkSection{
    text-align: center;
}
.recentWork{
    display: flex;
}
.recentWork img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
}
.seeMoreProjects{
    border: 1px solid black !important;
    border-radius: 15px !important;
    padding: 5px !important;
    margin: 50px;
}
.collaboration{
    font-weight: bold;
    font-size: 1.5rem;
}

.testimonials{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.testimonials img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}
.footer2{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: blue;
    margin: 0 auto;
}
