body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
.logoImg{
    float: left;
    margin-left: 10px;
}
.navBtn a{
    background-color: crimson;
    color: white;
    border-radius: 10px;
}
.navLink a {
    display: block;
    margin-top: 10px;
    margin-right: 30px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.navLink a:hover {
    background-color: crimson;
    color: white;
    opacity: 0.7;
    border-radius: 10px;
}

.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    color: crimson;
}
.foodItems{
    display: flex;
    text-align: center;
    justify-content: center;
}
.foodItems img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}
.foodItems h2{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}