h1 {
    background-color: thistle;
}
blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid rgb(117, 60, 117);
    border-bottom: 1px solid rgb(112, 64, 112);
}
p {
    width: 600px;
    margin-top: 10px;
}